html,body{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(106, 87, 70);
    width: 100%;
    height: 100%;
}

.pannel{
    /* 👉 Iska matlab:
        Jo bhi content container se bahar niklay
        usko cut (hide) kar do */
    overflow: hidden;
    width: 90%;
    height: 90%;
    background-color: rgb(68, 141, 132);
    border-radius: 20px;
}

.top-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: rgb(126, 174, 73);
}

.elem{
    color: beige;
    display: flex;
    padding: 10%;
    width: 100%;
    /* background-color: black; */
    gap: 20px;
    align-items: center;
}

.elem h4{
    font-size: large;
    font-weight: 500;
}

.box{
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
    width: 20px;
    height: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* toppannel - total Height -> you get buttom pannel */
.bt-pannel{
   width: 100%; 
   height: calc(100% - 15%);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.bubble{
    width: 70px;
    height: 70px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble:hover{
    background-color: white;
    cursor: pointer;
}